<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="84b3c535-e833-4228-b07f-cd0e2fd008cd" name="SecondTestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="84b3c535-e833-4228-b07f-cd0e2fd008cdfileName">SecondTestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>