<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ff41d858-d355-419a-9ae1-679e16f570f6" name="Assertions" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ff41d858-d355-419a-9ae1-679e16f570f6fileName">Assertions</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>