<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c9df5201-76e4-4b43-ab41-fae8281c22ce" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c9df5201-76e4-4b43-ab41-fae8281c22cefileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>